:root {
    --color-title-text: #FFFFFF;
    --color-pretitle-text: rgba(157, 164, 189, 0.6);
    --color-subtitle-text: #9DA4BD;
    --color-primary-text: #303030;
    --color-secondary-text: #555555;

    --color-accent: #FF6C00;

    --fs-header: 12px;
    --fs-primary-title: 72px;
    --fs-secondary-title: 42px;
    --fs-pretitle: 11px;
    --fs-primary-text: 18px;
    --fs-secondary-text: 14px;

}

body{
    font-family: 'Open Sans';
    font-size: var(--fs-primary-text);
    line-height: 1.3333;
    font-weight: 400;
    letter-spacing: 0.2em;
}
*,
::before,
::after {
     margin: 0;
     padding: 0;
}

button {
    cursor: pointer;
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: #554242;
}
.header-block {
    display: flex;
    align-items: center;
}
.header-logo {
    display: block;
    margin-right: 131px;
}


.navigation-list{
    display: flex;
}
.navigation-item:not(:last-child) {
    margin-right: 30px;
}
.header-btns {
    margin-left: auto;
}
.header-link {
    display: block;
    padding: 52px 0; /*ширина хедера*/
}
.header-contact,
.header-link {
    font-size: var(--fs-header);
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var(--color-title-text);
    text-align: center;
    text-decoration: none;
}

.header-contact {
    text-transform: uppercase;
    margin-right: 40px;
}

.button {
    font-size: var(--fs-header);
    font-weight: 600;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-align: center;
    text-align: center;
    background-color: transparent;
    border-color: var(--color-accent);

    padding: 12px 20px;
    border: 1px solid  var(--color-accent);
    border-radius: 25px;
}

.button.primary-btn {
    color: var(--color-title-text);
}

.primary-btn:focus,
.primary-btn:hover {
    background-color: var(--color-accent);
}

.header-contact:hover,
.header-contact:focus,
.header-link:focus,
.header-link:hover {
    color: var(--color-accent);
}

/*banner*/
.hero{
    background-color: aqua;
    padding: 152px 0 40px;
}
.hero-block{
    display: flex;
}
.hero-socials {
    padding: 27px 0 58px 40px;
    background: var(--c-white);
}
.hero-content__btns {
    margin-top: 144px;
   
}
.hero-btn {
    min-width: 60px;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.3636;
        letter-spacing: 0.1em;
        color: rgba(157, 164, 189, 0.6);

    padding: 0 0 8px;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left:none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.6); /*&&&&&&&*/
}
.hero-pretitle {
    font-weight: 600;
    font-size: var(--fs-pretitle);
    line-height: 1.3636;
    text-transform: uppercase;
    color: var(--color-pretitle-text);

    padding-top:184px;
}

.hero-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: var(----fs-primary-title);
    line-height: 1.8055;
    letter-spacing: 0.05em;
    color: var(--color-title-text);

    margin: 20px 0;
}

.hero-subtitle {
    font-size: var(--fs-primary-text);
    line-height: 1.666;
    color: var(--color-subtitle-text);

    padding-bottom: 144px;
}
.hero-btn{
        font-weight: 600;
        font-size: 11px;
        line-height: 1.3636;
        letter-spacing: 0.1em;
        color:var(--color-pretitle-tex);
}
.hero-content__btns{
    display: flex;

}
/*.header{
    padding-top: 32px;
    padding-bottom: 40px;
    background-color: aqua;
}*/

/*about*/
.pretitle {
    font-weight: 600;
    font-size: var(--fs-pretitle);
    line-height: 1.3636;
    color: var(--color-primary-text);
}

.title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: var(--fs-secondary-title);
    line-height: 1.67;
    letter-spacing: 0.05em;
    color: var(--color-primary-text);
}

.about-text{
    font-size: var(--fs-secondary-text);
    line-height: 1.86;
    color: var(--color-secondary-text);
}

.secondary-btn {
    color: var(--color-primary-text);
}
.secondary-btn:focus,
.secondary-btn:hover{
 color: var(--color-accent);
}

/*Services and prices*/
.services {
    background-color: #222121;
}

.services .services-title {
    color: var(--color-title-text);
}

.contacts-text,
.services-text {
    line-height: 1.67;
    color: var(--color-subtitle-text);
}

/*¿Why people come to us?*/
.whypeople-number {
    font-weight: 700;
    font-size: var(--fs-secondary-title);
    line-height: 1.357;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--color-primary-text);
}

.whypeople-text {
    font-size: var(--fs-primary-text);
    line-height: 1.67;
    color: var(--color-secondary-text);

}

/*Our barbers*/
.barbers-name {
    line-height: 1.388;
    text-align: center;
    color: var(--color-primary-text);
}

.barbers-use {
    font-size: var(--fs-secondary-text);
    line-height: 1.357;
    text-align: center;
    color: var(--color-accent);
}

/*portfolio*/
/*contacts*/
.contacts {
    background-color: #222121;
}

.contacts-title {
    color: var(--color-title-text);
}

.contact-link {
    font-weight: 700;
    font-size: var(--fs-primary-text);
    line-height: 1.67;
    color: var(--color-subtitle-text);
    text-decoration: none;
    font-style: normal;
}

.contacts-phone {
    font-weight: inherit;
}

.contacts-maile {
    text-decoration-line: underline;
    font-weight: inherit;
}

.contacts-pretitle {
    color: var(--color-title-text);
}

/*footer*/
.footer-text {
    font-weight: 600;
    font-size: var(--fs-pretitle);
    line-height: 1.3636;
    color: var(--color-subtitle-text);
}

.social-link {
    text-transform: none;
    text-decoration: none;
}